body {
    width: 300px;
    min-height: 25px;
    background: #EEEEEE;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: #666666;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    width: 280px;
    background-color: #666;
}

#searchField {
    border: none;
    padding: 5px;
    font-size: 13px;
    color: #666666;
    width: 103%;
}

#searchField::placeholder {
    color: #999999;
}

#searchField::selection {
    color:#999999;
    background-color: #666666;
}

#message {
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: red;
}

ul {
    padding: 0;
    list-style: square;
    height: 250px;
    overflow-y: auto;
}
  
ul li {
    list-style-position:inside;
    padding: 3px;
    padding-right: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis; 
    font-size: 13px;
}

button {
    height: 25px;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: #666666;
}

#refreshButton {
    float: right;
}